html {
    font-size: 10px;
    background-color: #00539F;
  }
  
  p {
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }
  
  dt {
    font-size: 24px;
  }

  dd {
    font-size: 16px;
  }

  button {
    width: 10em;
    height:3em;
    font-size: 200%;
  }
  
  body {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  res {
    width: 600px;
    height: 700px;
    margin: 0 0 0 auto;
  }
